apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: iot-meter

resources:
  - namespace.yaml
  - configmap.yaml
  - secrets.yaml
  - postgres-init-configmap.yaml
  - mosquitto.yaml
  - postgres.yaml
  - influxdb.yaml
  - minio.yaml
  - device-manager.yaml
  - mqtt-collector.yaml
  - iot-simulator.yaml
  - pod-disruption-budgets.yaml
  - prometheus.yaml
  - kube-state-metrics.yaml
  - grafana.yaml
  - alertmanager.yaml
